<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title %}Andractim.eu - Buying Andractim Online{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% endblock %}
</head>
<body>
  <div id="header" class="d-flex border-bottom">
    <div class="p-1">
       <img src="images/pharmacie.jpg" alt="pharmacie" height="128">
    </div>
    <div class="p-2 flex-grow-1">
        <h1 class="text-muted">Buying Medicines Online</h1>
        <h5 class="text-info">Guaranteed shipping within 48 hours</h5>
        <h5>Email/Paypal: joyousrabbit@qq.com</h5>
        <h5>WhatsApp: +33 7 66 27 75 11</h5>
    </div>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">{% block footer %}<p class="bg-dark text-white text-center">Copyright © 2021 Andractim.eu. All Rights Reserved.</p>{% endblock %}</div>
</body>
</html>
