{% extends "base.html" %}
 
 
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for product in products %}
        <div class="col">
            <div class="card">
                <a href={{product.bigimage}}><img class="card-img-top" height="400" src={{product.thumnail}} alt="image"></a>
                <div class="card-body">
                    <p class="text-center">{{product.title}}</p>
                    <h5 class="font-weight-bold text-center">$ {{product.price}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}   